# Server
PORT=8081

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root / DB_NAME
DB_PASSWORD= DB_PASSWORD
DB_NAME=nama db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET= jwr secret anda


# Firebase
FIREBASE_CREDENTIALS_PATH=firebase_service_account.json
FIREBASE_API_KEY=API_FIREBASE_ANDA

# SMTP Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=EMAIL_ANDA
SMTP_PASSWORD=PASSWORD APLIKASI ANDA
SMTP_FROM=EMAIL ANDA
SMTP_FROM_NAME=NAMA_APLIKASI ANDA

# OTP
OTP_EXPIRY_MINUTES=5
